<h1> Trips </h1>
<button class="ui green button">
<%= link_to 'Add New Trip', new_trip_path %>
</button>
<hr />
<body>
            <div class="ui cards">
            <% @trips.each do |t| %>
              <div class="card">
                <div class="content">
                  <div class="header"><%= link_to t.name , trip_path(t) %></div>
                  <div class="description">
                    <%= link_to t.description , trip_path(t) %>
                  </div>
                </div>
              </div>
              <% end %>
            </div>

