<h1>Trips#show</h1>
<p>Find me in app/views/trips/show.html.erb</p>

<h3 class="ui header">Examples of UI that inherit border styles</h3>
<div class="ui segment">Segment</div>
<div class="ui button">Button</div>
<div class="ui menu">




