<nav class="ui menu">
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "item" %>
    <%= link_to 'Trips', trips_path, class: "item" %>
  <div class="right menu">
    
  </div>
</nav> 